# Config
**/custom.ini
**/*custom.ini
**/env.json
env/*

# Generated
*-lock.json
*-lock.y*ml
*.lock
**/node_modules
dump
src

# Logs
**/logs

# Tests
**/actions
**/jest
tests/doc

# Zip
**/*.zip
**/*.gz

# XLSX
**/*.xls*

# Keys
**/*.pem
**/*.prv
**/*.pub

# Idz
features
notes
demo
z_*

# Dev
.vscode
