# Config
**/custom.ini
**/*custom.ini
**/env.json
env/*
_

# Generated
*-lock.json
*-lock.y*ml
*.lock
**/node_modules
dump
src

# Logs
**/logs

# Tests
**/actions
**/jest
tests/doc

# Zip
**/*.zip
**/*.gz
data

# XLSX
**/*.xls*

# Keys
**/*.pem
**/*.prv
**/*.pub
pubk
.ssh

# Idz
features
notes
demo
z_*

# Dev
.vscode
